#proyecto-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    width: 100%;
    justify-items: center;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
}


main .proyecto-title{ /*titulo*/
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    margin: 32px 32px;
}

main .proyecto-title h1{
    @extend %titulo;
}

main div:nth-child(2){ /*tabs*/
    grid-column: 1/2;
    grid-row: 2/3;
}


main div:nth-child(3){ /*carousel*/
    grid-column: 2/4; 
    grid-row: 2/3;
    
}