$grey: rgb(219, 118, 40);
$divider: rgb(76, 76, 76);
$primary: rgb(240, 174, 19);
$text-title: rgb(235, 235, 235);
$text-body: rgb(198, 198, 198);
$card-body: #424242; 
//agregar si o si 2 variables podrian ser color y tipografia